<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" media="all" th:href="@{/css/grouprides.css}" href="/css/ride.css" />
<head>
    <meta charset="UTF-8">
    <title>ridedetails</title>
</head>
<body>
<div th:replace="fragments/headerfooter :: header">Hier komt de header</div>
<div class="row1">
    <div class="row1content" th:object="${ride}">
        <div>
            <h2 th:if="${ride}" th:text="|Ride : ${ride.name}|">ride: onbekend</h2>
            <p th:unless="${ride}">ride: onbekend</p>
        </div>
        <div class="container">
        <div class="error" th:if="${#fields.hasErrors('*')}">Fill in red boxes</div>
            <div th:if="${ride}">
                <form th:action="@{|/admin/rideedit/${ride.id}|}" method="post">
                    <div class="oneinput">
                        <label for="name" class="info">Name: </label>
                        <input type="text" id="name" class="editfield" th:field="*{name}" th:errorclass="fieldError">
                    </div>
                    <div class="oneinput">
                        <label for="date" class="info">Date: </label>
                        <input type="date" id="date" class="editfield" th:field="*{date}" th:errorclass="fieldError">
                    </div>
                    <div class="oneinput">
                        <label for="where" class="info">Where: </label>
                        <select id="where" class="editfield" th:field="*{startingPoint}" th:errorclass="fieldError">
                            <option th:each="v : ${startingPoints}" th:selected="*{startingPoint}" th:value="${v.id}" th:text="${v.startingPointName}"></option>
                        </select>
                    </div>
                    <div class="oneinput">
                        <label for="price" class="info">afstand van Antwerpen: </label>
                        <input type="number" id="price" class="editfield" th:field="*{distanceFromAntwerpInKm}">
                    </div>
                    <div class="oneinput">
                        <label for="endpoint" class="info">endpoint </label>
                        <input type="text" id="endpoint" class="editfield" th:field="*{endPoint}">
                    </div>
                    <div class="oneinput">
                        <label for="time" class="info">Time: </label>
                        <input type="time" id="time" class="editfield" th:field="*{time}" th:errorclass="fieldError">
                    </div>
                    <div class="oneinput">
                        <label for="extrainfo" class="info">Extra info: </label>
                        <textarea id="extrainfo" class="editfield" th:field="*{info}"></textarea>
                    </div>
                    <div class="knoppen" >
                        <div >
                            <input type="submit" value="save" class="previous">
                        </div>
                        <div th:if="${ride}">
                            <a class="previous" th:href="@{'/ridedetails/' + ${ride.id}}">back</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/headerfooter :: footer">Hier komt de footer</div>
</body>
</html>