<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/grouprides.css}"/>
  <title>Login pagina</title>
</head>
<body>
<div th:replace="fragments/headerfooter :: header">Hier komt de header</div>
<div class="row1">
  <div class="login-form">
    <div>
      <h2>Login</h2>
    </div>
    <div class="content">
      <form th:action="@{/user/login}" method="post">
        <div class="input-field">
          <label for="name" class="info">Username: </label>
          <input type="text" id="name" name="username" class="editfield">
        </div>
        <div class="input-field">
          <label for="password" class="info">Password: </label>
          <input type="password" id="password" name="password" class="editfield">
        </div>
        <div class="action">
          <button>
            <input type="submit" class=logininput value="login" >
          </button>
          <button>
            <a href="/user/register">register</a>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<div th:replace="fragments/headerfooter :: footer">Hier komt de header</div>
</body>
</html>