<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/grouprides.css}"/>
    <title>Logout pagina</title>
</head>
<body>
<div th:replace="fragments/headerfooter :: header">Hier komt de header</div>
<div class="row1">
    <div class="login-form">
        <div>
            <h2>Logout</h2>
        </div>
        <div class="content">
            <form th:action="@{/user/logout}" method="post">
                <div class="input-field">
                    <label sec:authorize="isAuthenticated()">logged in as <label sec:authentication="name"></label ></label>
                </div>
                <br>
                <br>
                <br>
                <div class="action" >
                    <button>
                        <input type="submit" class=logininput value="logout" >
                    </button>
                    <button>
                        <a href="/ridelist">cancel</a>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<div th:replace="fragments/headerfooter :: footer">Hier komt de header</div>
</body>
</html>