<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/grouprides.css}"/>
    <title>Registreer pagina</title>
</head>
<body>
<div th:replace="fragments/headerfooter :: header">Hier komt de header</div>
<div class="row1">
    <div class="login-form">
        <div>
            <h2>Register</h2>
        </div>
        <div class="content">
            <form th:action="@{/user/register}" method="post">
                <div class="input-field">
                    <label for="username" class="info">Username: </label>
                    <input type="text" id="username" name="userName" class="editfield">
                </div>
                <div class="input-field">
                    <label for="password" class="info">Password: </label>
                    <input type="password" id="password" name="password" class="editfield">
                </div>
                <div class="input-field">
                    <label for="name" class="info">Name: </label>
                    <input type="text" id="name" name="name" class="editfield">
                </div>
                <div class="input-field">
                    <label for="city" class="info">City: </label>
                    <input type="text" id="city" name="city" class="editfield">
                </div>
                <div class="input-field">
                    <label for="motorcycle" class="info">Motorcycle: </label>
                    <input type="text" id="motorcycle" name="motorcycle" class="editfield">
                </div>
                <div class="action" >
                    <button>
                        <input type="submit" class=logininput value="register" >
                    </button>
                    <button>
                        <a href="/ridelist">cancel</a>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<div th:replace="fragments/headerfooter :: footer">Hier komt de header</div>
</body>
</html>