html {
    background-color: rgb(175, 175, 175);
    color: #4c6c5d;
    font-family: Bahnschrift, sans-serif;

}

p {
    font-size: 20px;
}

h2{
    font-size: 40px;
    text-align: center;
}
h3{
    font-size: 30px;
}
body{
    margin: 0;
    padding: 0;
}

H1{
    color: #EDC7CF;
    margin: 0;
    font-size: 60px;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    text-align: center;
}
nav li{
    display: inline-block;
}


nav li a{
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
nav li a:hover {
    background-color: #111;
}

header{
    padding: 15px;
    background-color: #333;
}

main{
    padding: 15px;
}




footer{
    background-color: #333;
    color: #EDC7CF;
    text-align: center;
    margin-bottom: 0;
    height: 60px;

}
.row1 {
    display: flex;
    position: relative;
    margin: 100px 0 20px 0;
    min-height: 500px;
}

.row1 img {
    width: 100%;
    height: auto;
}

.row1content {
    flex-grow: 4;
    margin: 0 50px;
}

/* links that look like buttons */
.buttonLook {
    background-color:rgb(210, 227, 228);
    color: #4c6c5d;
    text-decoration: none;
    border-color: #111111;
    border-style:solid ;
    border-radius: 25px;


}

.buttonLook:hover {
    background-color:rgb(179, 211, 212);
    color:#4c6c5d;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.buttonLook:active {
    background-color: #6A8E7F;
    color: #EDC7CF;
}

.mediumButton {
    display: block;
    margin: 40px 500px;
    width: 800px;
    font-size: 1.2em;
    padding: 1em;
    height: 100px;
}

.smallButton {
    font-size: 1em;
    padding: 0.5em;
}

.menuButton {
    display: block;
    margin: 0 10px;
    width: 6em;
    padding: 0.2em;
}

.filterButton {
    margin: 0 2px;
    width: 2em;
    padding: 0.2em;
}

.prevButtonDiv {
    position: fixed;
    left: 10px;
    top: 80px;
}

.nextButtonDiv {
    position: fixed;
    right: 10px;
    top: 80px;
}


.filterButton{
    font-size: 1em;
    padding: 0.2em;
}

.generalinfo{
    background-color: beige;
}

.buttonListGrid{
    display: grid;
    grid-template-areas:
    "filter venuelist";
    grid-template-columns: 20em auto;
}

.filters{
    grid-area: filter;
}

.buttonList{
    grid-area: venuelist;
}
.motorimg{
    margin: auto;
    width: 50%;
    padding: 10px;
}
.bannerimg{

}
a {
    text-decoration: none;
    display: inline-block;
    padding: 10px 16px;
    font-size: 15px;
}
.previous {
    background-color: cyan;
    color: blue;
}
.next {
    background-color: cyan;
    color: blue;
}
.round {
    border-radius: 50%;
}
table, th, td {
    border: 1px solid;
}
td{
    text-align: center;

}
table{
    margin-left: 500px;
    width: 50%;
    border-collapse: collapse;
    height:500px;
}
table a,p{
    font-size: 20px;
}
tbody tr:nth-child(odd) {
    background-color: grey;
}

tbody tr:nth-child(even) {
    background-color: lightgrey;
}
.error {
    color: red;
    font-size: larger;
    margin-bottom: 20px;
}

.fieldError, input.fieldError {
    background-color: red;
}
header span{
    color: white;
}