html {
    background-color: rgb(175, 175, 175);
    color: #4c6c5d;
    font-family: Bahnschrift, sans-serif;

}

p {
    font-size: 20px;
}

h2{
    font-size: 40px;
    text-align: center;
}
h3{
    font-size: 30px;
}
body{
    margin: 0;
    padding: 0;
}

H1{
    color: #EDC7CF;
    margin: 0;
    font-size: 60px;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    text-align: center;
}
nav li{
    display: inline-block;
}


nav li a{
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
nav li a:hover {
    background-color: #111;
}

header{
    padding: 15px;
    background-color: #333;
}

main{
    padding: 15px;
}




footer{
    background-color: #333;
    color: #EDC7CF;
    text-align: center;
    margin-bottom: 0;
    height: 60px;
    padding: 2px;

}

.row1 {
    display: flex;
    position: relative;
    margin: 100px 0 200px 0;
    min-height: 500px;
}

.row1 img {
    width: 100%;
    height: auto;
}

.row1content {
    flex-grow: 4;
    margin: 0 50px;
}

/* links that look like buttons */
.buttonLook {
    background-color:rgb(210, 227, 228);
    color: #4c6c5d;
    text-decoration: none;
    border-color: #111111;
    border-style:solid ;
    border-radius: 25px;


}

.buttonLook:hover {
    background-color:rgb(179, 211, 212);
    color:#4c6c5d;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.buttonLook:active {
    background-color: #6A8E7F;
    color: #EDC7CF;
}

.mediumButton {
    display: block;
    margin: 40px auto;
    width: 400px;
    font-size: 1.2em;
    padding: 1em;
    height: 75px;
}

.smallButton {
    font-size: 1em;
    padding: 0.5em;
}

.menuButton {
    display: block;
    margin: 0 10px;
    width: 6em;
    padding: 0.2em;
}

.filterButton {
    margin: 0 2px;
    width: 2em;
    padding: 0.2em;
}

.prevButtonDiv {
    position: fixed;
    left: 10px;
    top: auto;
}

.nextButtonDiv {
    position: fixed;
    right: 10px;
    top: auto;
}
.topbutton{
    position: fixed;
    left: 130px;
    top: auto;
}


.filterButton{
    font-size: 1em;
    padding: 0.2em;
}

.generalinfo{
    background-color: beige;
}

.buttonListGrid{
    display: grid;
    grid-template-areas:
    "filter startingpointlist";
    grid-template-columns: 20em auto;
}

.filters{
    grid-area: filter;
}

.buttonList{
    grid-area: startingpointlist;
}
.motorimg{
    margin: auto;
    width: 50%;
    padding: 10px;
}
.bannerimg{

}
a {
    text-decoration: none;
    display: inline-block;
    padding: 10px 16px;
    font-size: 15px;
}
.previous {
    background-color: cyan;
    color: blue;
}

input.previous {
    text-decoration: none;
    display: inline-block;
    padding: 10px 16px;
    font-size: 15px;
    border-style: none;
}
.next {
    background-color: cyan;
    color: blue;
}
.round {
    border-radius: 50%;
}
table, th, td {
    border: 1px solid;
}
td{
    text-align: center;

}
table{
    margin-left: 500px;
    width: 50%;
    border-collapse: collapse;
    height:500px;
}
table a,p{
    font-size: 20px;
}
tbody tr:nth-child(odd) {
    background-color: grey;
}

tbody tr:nth-child(even) {
    background-color: lightgrey;
}
.error {
    color: red;
    font-size: larger;
}

.fieldError, input.fieldError {
    background-color: red;
}
header span{
    color: white;
}
.login-form {
    background: #fff;
    width: 500px;
    margin: 65px auto;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    border-radius: 4px;
    box-shadow: 0 2px 25px rgba(0, 0, 0, 0.2);
}
.login-form h1 {
    padding: 35px 35px 0 35px;
    font-weight: 300;
}
.login-form .content {
    padding: 35px;
    text-align: center;
}
.login-form .input-field {
    padding: 12px 5px;
}
.login-form .input-field input {
    font-size: 16px;
    display: block;
    font-family: 'Rubik', sans-serif;
    width: 100%;
    padding: 10px 1px;
    border: 0;
    border-bottom: 1px solid #747474;
    outline: none;
    -webkit-transition: all .2s;
    transition: all .2s;
}
.login-form .input-field input::-webkit-input-placeholder {
    text-transform: uppercase;
}
.login-form .input-field input::-moz-placeholder {
    text-transform: uppercase;
}
.login-form .input-field input:-ms-input-placeholder {
    text-transform: uppercase;
}
.login-form .input-field input::-ms-input-placeholder {
    text-transform: uppercase;
}
.login-form .input-field input::placeholder {
    text-transform: uppercase;
}
.login-form .input-field input:focus {
    border-color: #222;
}
.login-form a.link {
    text-decoration: none;
    color: #747474;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 20px;
}
.login-form .action {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
}
.login-form .action button {
    width: 100%;
    border: none;
    padding: 18px;
    font-family: 'Rubik', sans-serif;
    cursor: pointer;
    background: #e8e9ec;
    color: #777;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 0;
    letter-spacing: 0.2px;
    outline: 0;
    -webkit-transition: all .3s;
    transition: all .3s;
}
.login-form .action button:hover {
    background: #d8d8d8;
}
.login-form .action button:nth-child(2) {
    background: #2d3b55;
    color: #fff;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 4px;
}
.login-form .action button:nth-child(2):hover {
    background: #3c4d6d;
}
.login-form button a{
    color:white;
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
}
.login-form button input{
    color: black;
    font-family: 'Rubik', sans-serif;
    border-style: none;
    font-size: 20px;
    background: #e8e9ec;
}

.container {
    width: 200px;
    clear: both;
    margin: auto;
}

.container input {
    width: 100%;
    clear: both;
}
.knoppen{
    display: flex;
    justify-content: space-evenly;
}
