<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/grouprides.css}" href="/static/css/grouprides.css"/>
</head>
<body>

<header th:replace="fragments/headerfooter :: header">
    <p>Hier komt de header</p>
</header>

<main>
    <div class = motorimg>
        <h2>About us</h2>
        <img th:src="@{/img/bedrijf.jpg}" alt="" src="">
        <h3>Geschiedenis</h3>
        <p>Motomakkers is een IT bedrijf nog maar recent opgestart en gevestigd in Antwerpen. Onze website Motomeetups.com was een eerste mijlplaal die we hebben gehaald.
            Voor de toekomst willen we uitbreiden door een app te maken  </p>
        <h3>doel</h3>
        <p>Ons doel is om mede motorrijders samen te brengen en ritten te hebben die ze zich voor altijd herinerren. Wij proberen dit te bekomen door onze website waar we mensen proberen helpen afspreken.
        </p>
        <h3>contact</h3>
        Als je iets wil weten over onze website of nog andere vragen hebt aarzel dan niet om ons te contacteren op onze mail Motomakkers@gmail.com
    </div>
</main>

<footer th:replace="fragments/headerfooter :: footer">
    <p>Hier komt de footer</p>
</footer>

</body>
</html>