<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>about</title>
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{css/party.css}" href="/static/css/party.css" />
</head>
<body>
<div class="nav">
    <h1>Let's Party!</h1>

    <div class="navbuttons">
        <a class="buttonLook menuButton" th:href="@{/}">home</a>
        <a class="buttonLook menuButton" th:href="@{/venuedetails}">venues</a>
        <a class="buttonLook menuButton" th:href="@{/about}">about</a>
    </div>
</div>
<ul>
<li><p th:text="${myName}">naam</p></li>
<li><p th:text="${myCity}">stad</p></li>
<li><p th:text="${myStreet}">straat </p></li>
</ul>

<p><a th:href="@{/}">home</a></p>

<p th:text="' ik ben '+ ${myName} + ' en woon in ' + ${myStreet} +' te ' + ${myCity} ">zin </p>


</body>
</html>