<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <link rel="stylesheet" type="text/css" media="all"
        th:href="@{/css/grouprides.css}" href="/static/css/grouprides.css" />
</head>
<body>
<header th:replace="fragments/headerfooter :: header">
  <p>Hier komt de header</p>
</header>

<main>
  <h2>Homepagina</h2>
  <div class = motorimg>

  <img th:src="@{/img/motor.png}" alt="" src="">
    <p>Wij van motoMakkers willen jullie graag helpen om de beste group rides te ervaren. Wij verwelkomen motor rijden van alle leeftijden kom naar onze group rides en leer mensen kennen met dezelfde passie als jou
      Voor alle nieuwkomers kan je hier onze group rides vinden.  </p>
  </div>
  <div class = motorimg>
    <img th:src="@{/img/groupride.jpg}" alt="" src="">
    <p>Deze groep heeft alvast de tijd van hun leven gehad afgelopen zondag met naar de ardennen rijden. Wil jij ook met zo'n rit mee rijden kijk dan alvast bij onze beschikbar group rides

    </p>
  </div>


</main>

<footer th:replace="fragments/headerfooter :: footer">
  <p>Hier komt de footer</p>
</footer>

</body>
</html>