<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="nl" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Ridedetails</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/grouprides.css}" href="/static/css/grouprides.css"/>
</head>
<body>

<header th:replace="fragments/headerfooter :: header">
    <p>Hier komt de header</p>
</header>

<main>
    <div th:if="${ride}">
        <div th:if="${prev!=null}" class="prevButtonDiv">
            <a class="previous" th:href="@{'/ridedetails/' + ${prev}}">&laquo; Previous</a>
        </div>
        <div th:if="${next!=null}" class="nextButtonDiv">
            <a class="next" th:href="@{'/ridedetails/' + ${next}}">Next &raquo;</a>
        </div>
        <div th:if="${ride}" sec:authorize="hasRole('ADMIN')" class="topbutton" >
            <a class="previous" th:href="@{'/admin/rideedit/' + ${ride.id}}">edit</a>
        </div>

        <h2 th:text="${ride.getName()}">Name ride</h2>

        <table>
            <tr>
                <td><p>Routebeschrijving :</p></td>
            <div class = motorimg>
                <img th:src="@{/img/beschrijving.jpg}" alt="" src="">
            </div>
            </tr>
            <tr>
                <td><p>Endpoint :</p></td>
                <td><p th:text="${ride.getEndPoint()}">0</p></td>
            </tr>
            <tr>
                <td><p>Startpoint :</p></td>
                <td><a th:text="${ride.getStartingPoint().getStartingPointName()}" th:href="@{'/startingpointdetails/' + ${ride.getStartingPoint().getId()}}">no</a></td>
            </tr>
            <tr>
                <td><p>Distance from Antwerp :</p></td>
                <td><p th:text="${ride.getDistanceFromAntwerpInKm() }">no</p></td>
            </tr>
            <tr>
                <td><p>Date :</p></td>
                <td><p th:text="${ride.getDate() }">no</p></td>
            </tr>
            <tr>
                <td><p>Time :</p></td>
                <td><p th:text="${ride.getTime()}">no</p></td>
            </tr>
            <tr>
                <td><p>Info :</p></td>
                <td><p th:text="${ride.getInfo()}">no</p></td>
            </tr>
        </table>
    </div>

    <div th:unless="${ride}">
        <h2>No ride was chosen</h2>
    </div>
</main>

<footer th:replace="fragments/headerfooter:: footer">
    <p>Hier komt de footer</p>
</footer>

</body>
</html>