<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ridelist</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/grouprides.css}" href="/static/css/grouprides.css"/>
</head>
<body>

<header th:replace="fragments/headerfooter :: header">
    <p>Hier komt de header</p>
</header>
<div class="row1">
    <div class="row1content">
                    <form>
                        <div class="onefilter">
                            <input type="submit" value="search" class="buttonLook">
                        </div>
                        <h3>capacity</h3>
                        <div class="onefilter">
                            <label for="minCapacity" class="filtername">min</label>
                            <input type="number" id="minCapacity" name="minimumCapacity" th:value="${minCapacity}"  step="50"> <span>persons</span>
                        </div>
                        <div class="onefilter">
                            <label for="maxCapacity" class="filtername">max</label>
                            <input type="number" id="maxCapacity" name="maximumCapacity" th:value="${maxCapacity}"  step="50"> <span>persons</span>
                        </div>
                    </form>
        <div class="newButtonDiv">
            <a class="buttonLook smallButton" th:href="@{/admin/ridenew}">new</a>
        </div>
        <div class="venuelist collectionlist">
            <div th:each="ride: ${rides}">
                <a class="buttonLook mediumButton" th:href="@{|/ridedetails/${ride.id}}">
                    <span th:text="'op ' + ${ride.date} + ' om ' + ${ride.time} "></span>
                    <br>
                    <span th:text="${ride.name}">venue name</span>
                    <br>
                    <span th:text="${ride.info}">venue name</span>
                </a>
            </div>
        </div>
    </div>
</div>

<footer th:replace="fragments/headerfooter :: footer">
    <p>Hier komt de footer</p>
</footer>

</body>
</html>