<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="nl" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ridedetails</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/grouprides.css}" href="/static/css/grouprides.css"/>
</head>
<body>

<header th:replace="fragments/headerfooter :: header">
    <p>Hier komt de header</p>
</header>

<main>
    <div th:if="${ride}">
        <div th:if="${prev!=null}" class="prevButtonDiv">
            <a class="button-look smallButton" th:href="@{'/ridedetails/' + ${prev}}">&lt;</a>
        </div>
        <div th:if="${next!=null}" class="nextButtonDiv">
            <a class="button-look smallButton" th:href="@{'/ridedetails/' + ${next}}">&gt;</a>
        </div>

        <h2 th:text="${ride.getName()}">Name venue</h2>

        <table>
            <tr>
                <td><p>Info :</p></td>
                <td><a th:text="${ride.getStartingPoint()}">link venue</a></td>
            </tr>
            <tr>
                <td><p>Capacity :</p></td>
                <td><p th:text="${ride.getEndPoint()}">0</p></td>
            </tr>
            <tr>
                <td><p>Food provided? :</p></td>
                <td><p th:text="${ride.getInfo()}">no</p></td>
            </tr>
            <tr>
                <td><p>Indoor? :</p></td>
                <td><p th:text="${ride.getDistanceFromAntwerpInKm() }">no</p></td>
            </tr>
            <tr>
                <td><p>Outdoor? :</p></td>
                <td><p th:text="${ride.getDate() }">no</p></td>
            </tr>
            <tr>
                <td><p>Free Parking Available? :</p></td>
                <td><p th:text="${ride.getTime()}">no</p></td>
            </tr>
        </table>
    </div>

    <div th:unless="${ride}">
        <h2>No venue was chosen</h2>
    </div>
</main>

<footer th:replace="fragments/headerfooter:: footer">
    <p>Hier komt de footer</p>
</footer>

</body>
</html>