<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="nl" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>startingpointdetails</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/grouprides.css}" href="/static/css/grouprides.css"/>
</head>
<body>

<header th:replace="fragments/headerfooter :: header">
    <p>Hier komt de header</p>
</header>

<main>
    <div th:if="${startingpoint}">
        <div th:if="${prev!=null}" class="prevButtonDiv">
            <a class="previous" th:href="@{'/startingpointdetails/' + ${prev}}">&laquo; Previous</a>
        </div>
        <div th:if="${next!=null}" class="nextButtonDiv">
            <a class="next" th:href="@{'/startingpointdetails/' + ${next}}">Next &raquo;</a>
        </div>

        <div class = bannerimg>
            <img th:src="@{/img/banner1.jpg}" alt="" src="">
        </div>

        <h2 th:text="${startingpoint.getStartingPointName()}">Name</h2>

        <table>
            <tr>
                <td><p>Maximum number of motorcycles:</p></td>
                <td><a th:text="${startingpoint.getMaximumMotorcycles()}">max</a></td>
            </tr>
            <tr>
                <td><p>City :</p></td>
                <td><p th:text="${startingpoint.getCity()}">no</p></td>
            </tr>
            <tr>
                <td><p>Food shop nearby :</p></td>
                <td><p th:text="${startingpoint.isFoodshopNearby() ? 'yes' : 'no'}">0</p></td>
            </tr>
            <tr>
                <td><p>Pub nearby :</p></td>
                <td><p th:text="${startingpoint.isPubNearby() ? 'yes' : 'no'}">0</p></td>
            </tr>

            <tr>
                <td><p>Information :</p></td>
                <td><p th:text="${startingpoint.getInformation()}">info</p></td>
            </tr>
        </table>
        <h2>Rides</h2>
        <table>
            <div th:each="ride, status: ${rides}">
                <tr>
                    <td> <a th:text="${ride.name}" th:href="@{'/ridedetails/' + ${ride.id}}">no</a></td>
                    <td><p th:text="${ride.getInfo()}">info</p></td>
                </tr>
            </div>
        </table>
    </div>
    <div class = bannerimg>
        <img th:src="@{/img/banner2.jpg}" alt="" src="">
    </div>

    <div th:unless="${startingpoint}">
        <h2>No startingpoint was chosen</h2>
    </div>

</main>

<footer th:replace="fragments/headerfooter:: footer">
    <p>Hier komt de footer</p>
</footer>

</body>
</html>